<div class="flex items-center space-x-2 sm:space-x-4 mt-1 text-[10px] sm:text-xs text-[#A5B1AA] dark:text-[#A5B1AA]">
  <% ranks.each do |rank| %>
    <span><%= rank[:emoji] %> <%= rank[:value] %></span>
  <% end %>
</div>
